%p
  Hi #{@user.username},
%p
  Thank you for your request of the
  %b= @constellation_request.name
  constellation, we happily would like to inform you that your
  submission has been accepted. You can find your story posted in the new
  %b= @constellation_request.name
  constellation.
