%p
  Hi #{@user.username},
%p
  Thank you for your request of the
  %b= @constellation_request.name
  constellation, we sadly would like to inform you that your
  submission has not been accepted. Unfortunately, your suggested
  constellation is not in keeping with our mission at Within Us.
