%p
  Hello #{ @user.email }!

%p
  You have requested a code to change your password. You can do this through the code below.

%p
  %b
    Code: #{@code}

%p
  If you didn't request this, please ignore this email.

%p
  Your password won't change until you use the code above and create a new one.
